.wrapper {
    background-color: rgb(255, 255, 200);
    height: 100%;

}

form {
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-aling: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.group-form{
    flex: auto;
    text-align: center;
    padding: 4px;
    background-size: 400px 400px;
    background-color: white;
}


.text{
    text-align: center;
}

button {
    text-align: center;
}